ul#imgs {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    display: block;
}

ul#imgs li {
    display: inline;
    padding: 0.5em;
}

#full {
    padding: 0.5em;
    display: block;
    text-align: center;
}

#full img {
    width: 100%;
    height: auto;
}
