ul#imgs {
    list-style-type: none;
    padding-left: 0;
    display: block;
}

ul#imgs li {
    display: inline;
    padding: 0.5em;
}

#imgs img.still,
#imgs img.video {
    padding-bottom: 1rem;
}

#full {
    padding: 0.5em;
    display: block;
    text-align: center;
}

#full img {
    width: 100%;
    height: auto;
}

.fa-video {
    position: relative;
    left: -40px;
    top: 30px;
    z-index: 1000;
    background-color: white;
    padding: 0.3rem;
}
