body {
    background-color: #e3f4f8;
}

nav .container {
    background-color: transparent;
    border: none;
    height: 110px;
}

.container {
    background-color: white;
    border: 1px solid #d0d0d0;
    padding-top: 2rem;
    width: 60%;
}

.navbar {
    background: url(/dark_rainbow_top.png);
    margin-bottom: 3rem;
}

.navbar .container,
.navbar-light .navbar-nav .nav-link,
.navbar .container a {
    color: white;
    font-weight: bold;
}

h1 {
    padding-top: 1rem;
    margin-bottom: 1rem;
}

ul#imgs {
    list-style-type: none;
    padding-left: 0;
    display: block;
    height: 100px;
}

ul#imgs li {
    display: inline;
    padding: 0.5em;
}

#imgs li.still,
#imgs li.video {
    padding-bottom: 1rem;
}

#full {
    display: block;
    text-align: center;
}

#imgs li {
    width: 100px;
    height: 100px;
    float: left;
    display:block;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#full img,
#full video {
    width: 100%;
    height: auto;
}

.fa-video {
    background-color: white;
    padding: 0.3rem;
}

.head {
    font-weight: bold;
    font-size: larger;
    border-bottom: 1px solid;
    display: block;
    clear: both;
    margin-bottom: 1rem;
}

.exif {
    display: none;
}

#exif_block {
    padding: 1em;
    margin-top: 1em;
}

#exif_block .exif {
    display: block;
}

.exif_line {
    display: block;
    width: 100%;
}

.exif_key {
    display: block;
    float: left;
    font-weight: bold;
    width: 20%;
}

.exif_value {
    display: block;
    float: left;
    width: 80%;
}

/* This is for app.layout - should probably go in its own stylesheet */
.col-md-8 {
    padding-bottom: 2rem;
}


